@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25% auto 25%;
  grid-template-areas: 
  ". . date"
  ". main ."
  ". . .";
}
.center {
  position: relative;
  width: 100%;
  grid-area:main;
}

.center div {
  position: relative;
  margin: -30px 0;
  height: 150px;
  z-index: 2;
  transform: skewY(-5deg);
  justify-content: center;
  align-items: center;
}

.center div:nth-child(2),
.center div:nth-child(4) {
  transform: skewY(14.5deg);
  z-index: 1;
}

.center div:nth-child(4) {
  transform: skewY(25deg);
  transform-origin: left;
  top: -52px;
}

.center div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.center div:nth-child(1):before,
.center div:nth-child(3):before {
  background: linear-gradient(-160deg, #ff0058, #673ab7);
  transform: scaleX(0);
}

.center div:nth-child(2):before,
.center div:nth-child(4):before {
  background: linear-gradient(-20deg, #ff0058, #38009c);
  transform: scaleX(0);
}
.center div:nth-child(1):before {
  animation: animate 1s linear forwards;
  transform-origin: right;
  animation-delay: 2s;
}
.center div:nth-child(2):before {
  animation: animate 1s linear forwards;
  transform-origin: left;
  animation-delay: 3s;
}
.center div:nth-child(3):before {
  animation: animate 1s linear forwards;
  transform-origin: right;
  animation-delay: 4s;
}
.center div:nth-child(4):before {
  animation: animate 1s linear forwards;
  transform-origin: left;
  animation-delay: 5s;
  width: 60%;
  left: 0;
}

@keyframes animate {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.center div:nth-child(1):after,
.center div:nth-child(3):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.2);
}

.center div h2 {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 10;
  opacity: 0;
  color: rgb(243, 247, 252);
  text-align: center;
}

.center div:nth-child(1) h2 {
  padding: 40px 0 0 0;
  animation: fadeText 0.5s linear forwards;
  animation-delay: 4s;
  font-size: 40px;
}
.center div:nth-child(3) h2 {
  padding: 0;
  animation: fadeText 0.5s linear forwards,
    neon2 1.5s ease-in-out infinite alternate;
  animation-delay: 6s;
  font-size: 90px;
  font-weight: 800;
}

@keyframes fadeText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  body {
    grid-template-columns:1fr;
    grid-template-rows: 25% auto 25%;
    grid-template-areas: 
    "date"
    "main"
    ".";
  }
  .center {
    margin-top: 20%;
    margin-left: 20%;
    position: relative;
    width: 50%;
  }
  .center div {
    height: 100px;
  }
  .center div:nth-child(1) h2 {
    padding: 35px 0 0 0;
    animation: fadeText 0.5s linear forwards;
    animation-delay: 4s;
    font-size: 100%;
  }
  .center div:nth-child(3) h2 {
    padding: 35px 0 0 0;
    animation: fadeText 0.5s linear forwards;
    animation-delay: 6s;
    font-size: 150%;
    font-weight: 800;
  }
  .date h1 {
    transform: translate(20%,20%); 
  }
}

@keyframes fadeout {
  0%,
  91% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

#present {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
}
/* #present:before {
  content: 'Click Me';
  color: #ff0058;
  font-size: 50px;
} */

#present img.apply-shake {
  animation: wobble 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes wobble {
  10%,
  90% {
    transform: rotate(-2deg);
  }
  20%,
  80% {
    transform: rotate(6deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(-2deg);
  }
  40%,
  60% {
    transform: rotate(6deg);
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000,
      0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff,
      0 0 150px #fff;
  }
  to {
    text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000,
      0 0 20px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 75px #fff;
  }
}

.date {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  grid-area: date;
}
.date h1 {
  transform: rotate(25deg) translate(20%,20%); 
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #f22),
    color-stop(0.15, #f2f),
    color-stop(0.3, #22f),
    color-stop(0.45, #2ff),
    color-stop(0.6, #2f2),
    color-stop(0.75, #2f2),
    color-stop(0.9, #ff2),
    color-stop(1, #f22)
  );
  background-image: gradient(
    linear,
    left top,
    right top,
    color-stop(0, #f22),
    color-stop(0.15, #f2f),
    color-stop(0.3, #22f),
    color-stop(0.45, #2ff),
    color-stop(0.6, #2f2),
    color-stop(0.75, #2f2),
    color-stop(0.9, #ff2),
    color-stop(1, #f22)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: slidebg 5s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
